SECRET_KEY=tu-secret-key-super-segura
FORCE_HTTPS=1
HOST=0.0.0.0
PORT=5000
DATABASE_URL=
PUBLIC_URL=https://agrofin.onrender.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://agrofin.onrender.com/auth/google/callback
DEFAULT_COUNTRY=Nicaragua
DEFAULT_TIMEZONE=America/Managua
FLASK_DEBUG=0
